html,
body,
pre,
ol,
li,
pre {
    margin: 0; padding: 0;
}

html,
body {
    font-family: monospace; font-size: 13px; background: #C4C9DF;
}

#backtrace {
    display: block; margin: 20px;

    li {
        display: block; list-style: none; margin: 0 0 10px 0; padding: 10px; overflow: hidden; background: #fff;
    }

    .location {
        padding: 10px; background: #4F5B93; color: #fff;
    }

    .code {
        background: #F8EEC7; padding: 20px; word-wrap: break-word; white-space: pre-wrap;
    }

    /*.code,
    .args { background: #D4D4D4; color: #000; padding: 20px; }

    .code { background: #F8EEC7; cursor: pointer; }

    .args.min {
        max-height: 200px; overflow: hidden;
    }*/
}

/* red: cc1919


pre {
    word-wrap: break-word; white-space: pre-wrap;
}
 */


#backtrace .syntaxhighlighter {
    background: #F8EEC7; margin: 10px 0 0 0!important;

    a,
    div,
    code,
    table,
    table td,
    table tr,
    table tbody,
    table thead,
    table caption,
    textarea {
        line-height: 20px !important;
    }

    .line.highlighted.alt1,
    .line.highlighted.alt2 {
        background-color: #cc1919 !important;
        color: #fff !important;
    }

    .gutter .line.highlighted {
        background-color: #cc1919 !important;
        color: #fff !important;
    }

    .line {
        background: #eee!important;
    }

    .line.highlighted code {
        color: #fff !important;
    }

    .gutter .line {
        border-right: 3px solid #cc1919 !important;
    }
}