html,
body,
pre,
ol,
li,
pre {
    margin: 0; padding: 0;
}

html,
body {
    font-family: monospace; font-size: 13px; background: #C4C9DF; width: 9000px;
}

#bugger {
    padding: 0 10px 10px 0;
}

.stack {
    display: block; margin: 10px 0 0 10px; width: 500px; float: left;

    li {
        display: block; list-style: none; margin: 0 0 10px 0; overflow: hidden; background: #fff; border: 1px solid #999;
    }

    .location {
        padding: 10px; color: #111;
    }

    .code {
        background: #F8EEC7; padding: 20px; word-wrap: break-word; white-space: pre-wrap;
    }

    /*.code,
    .args { background: #D4D4D4; color: #000; padding: 20px; }

    .code { background: #F8EEC7; cursor: pointer; }

    .args.min {
        max-height: 200px; overflow: hidden;
    }*/

    .syntaxhighlighter {
        margin: 0!important; border-top: 3px solid #4F5B93;

        a,
        div,
        code,
        table,
        table td,
        table tr,
        table tbody,
        table thead,
        table caption,
        textarea {
            line-height: 20px !important;
        }

        .line {
            background: #fff!important;

            &.alt1 {  }
            &.alt2 {  }

            &.highlighted {
                code {
                    color: #fff !important;
                }

                &.alt1,
                &.alt2 {
                    background-color: #cc1919 !important;
                    color: #fff !important;
                }
            }

            
        }

        .gutter .line {
            background-color: #e0e0e0 !important; min-width: 20px; border-right: 3px solid #EEE !important;

            &.highlighted {
                background-color: #cc1919 !important; color: #fff !important; border-right-color: #cc1919 !important;
            }
        }
    }
}

/* red: cc1919


pre {
    word-wrap: break-word; white-space: pre-wrap;
}
 */