html,
body,
pre,
ol,
li,
pre {
    margin: 0; padding: 0;
}

html,
body {
    font-family: monospace; font-size: 13px; background: #C4C9DF;
}

#bugger {
    padding: 0 10px 10px 0; overflow: hidden;
}

.trace {
    width: 600px; float: left;
}

.card {
    background: #fff; margin: 10px 0 0 10px; padding: 5px;

    .header {
        overflow: hidden; padding: 10px; color: #111; border: 1px solid #ccc; background: #FFEFC6;
    }

    .file-source {
        border: 1px solid #ccc;

        &.collapsed { cursor: pointer; }
    }

    .dump {
        border: 1px solid #ccc; margin: 5px 0; padding: 10px;
    }
}

#bugger .syntaxhighlighter {
    .gutter {
        padding: 10px 0 10px; background: #eee; position: relative;

        .line {
            border: none; background: none; padding: 0 10px 0 20px;

            &.highlighted {
                background: #ddba5f; color: #111;
            }
        }
    }

    .code {
        
    }

    textarea {
        resize: none;
    }

    .line.highlighted {
        background: #FFEFC6;
    }
}