.syntaxhighlighter {
  width: 100%;
  position: relative;
  overflow: auto; }
  .syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea {
    background: none;
    border: 0;
    bottom: auto;
    float: none;
    height: auto;
    left: auto;
    line-height: 1.1em;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    margin: 0;
    position: static;
    right: auto;
    text-align: left;
    top: auto;
    vertical-align: baseline;
    width: auto;
    box-sizing: content-box;
    font: 13px/20px "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; }
  .syntaxhighlighter.source {
    overflow: hidden; }
  .syntaxhighlighter .bold {
    font-weight: bold; }
  .syntaxhighlighter .italic {
    font-style: italic; }
  .syntaxhighlighter .line {
    white-space: pre;
    padding: 0 5px; }
  .syntaxhighlighter table {
    width: 100%; }
    .syntaxhighlighter table td.code {
      width: 100%; }
      .syntaxhighlighter table td.code .container {
        position: relative; }
        .syntaxhighlighter table td.code .container textarea {
          box-sizing: border-box;
          position: absolute;
          left: 0;
          top: 0;
          padding: 0 5px;
          width: 100%;
          height: 100%;
          border: none;
          background: #fff;
          overflow: hidden;
          white-space: pre; }
    .syntaxhighlighter table td.gutter .line {
      text-align: right; }
